<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.mycompany"/>
    <context:property-placeholder location="classpath:messages.properties" />

    <bean id="songBean" scope="prototype" class="com.mycompany.jukebox.Song"/>

    <bean id="jukeboxBean" class="com.mycompany.jukebox.implementation.JukeboxImpl"/>

    <bean id="playlistEditorBean" lazy-init="true" class="com.mycompany.jukebox.implementation.PlaylistEditorImpl">
        <property name="jukebox" ref="jukeboxBean" />
    </bean>

    <bean id="playlistEditorBean2" lazy-init="true" parent="playlistEditorBean"/>

</beans>